.header{
    display: grid;
    grid-template-columns: 200px 4fr 1fr 1fr;
    gap:24px;
    /* height:166px; */
    /* background-color:yellow; */
    flex: 1;
    padding-bottom:24px;
  }

  
  .headshot{
    text-align:right;
    display: flex;
    justify-content: right;
    gap: 24px;
  }